mat-card{
margin-top: 20px;
}

.mat-input-class{
    width: 50%;
}

.mat-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-field-full-width {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.mat-button {
  margin-right: 10px !important;
  margin-left: 10px !important;
}
